/* Colors to make it OK */
/* https://brandfolder.com/workbench/color-palette */

.dummy {
    color:#f9fbfc;
    color:#d3e5ec;
    color:#a3bcc8;
    color:#628aa7;
    color:#262c39;
    color:#000000;
}