.HomePage {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


.hero-text {
    color: #d3e5ec;
    text-align: center;
    font-size: 3.6rem;
    span {
        color: #628aa7;
    }
}


.h-sub-text {
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder {
        margin-right: 1rem;
        .icon {
            font-size: 2.5rem;
            color:#a4acc4;
            transition: all .4s ease-in-out;

            transform: rotate(0deg) skew(0deg)
                       translate(0, 0);
            transition: 0.5;
            box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
            border-radius: 50%;
        }
        .ig:hover {
            color:#d3e5ec;
            transform: rotate(0deg) skew(0deg)
                       translate(-8px, 7px);   
        }
        .gh:hover {
            color: #d3e5ec;
            transform: rotate(0deg) skew(0deg)
                       translate(0px, 8px);
        }
        .li:hover {
            color: #d3e5ec;
            transform: rotate(0deg) skew(0deg)
                       translate(8px, 7px);
        }
    }
}
